.menu .app-brand {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
  color: #FF6B00 !important;  
}

/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Detached navbar */
.layout-navbar-fixed
  .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu)
  .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.docs-page
  .layout-navbar-fixed.layout-wrapper:not(.layout-without-menu)
  .layout-page,
.docs-page
  .layout-menu-fixed.layout-wrapper:not(.layout-without-menu)
  .layout-page {
  padding-top: 62px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir="rtl"] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 231px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}



/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/* Layout Tela Login Colaborador/Adm/Bater Ponto
============================================================================================================ */

.body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  background-color: aqua; 
}

.main-login{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color:#F4F4F4 ;
  display: flex;
  align-items: center;

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background-color: #F5F5F5;
}

.clock-container{
  padding:20px;
  margin: 0;
  justify-content: center;
  display: flex;
}

.clock{
  color: black;
  font-size: 16px;
  text-align: center;
}

.card-clockin > h2{
  text-align: center;
  margin-bottom: 20px;
}



.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:auto;
}

.card {
  background-color: #fff;
  width: 500px;
  padding: 15px;
  font-weight: bold;
  color:black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-clockin {
  background-color: #fff;
  width: 500px;
  height: 600px;
  padding: 15px;
  font-weight: bold;
  color:black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  

}

.option {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color:black;
  margin-left: 10px;
  margin-right: 10px;
  
  

}

.option:hover {
  background-color: #FF6B00;
  color: #fff;
}

.selected {
  background-color: #FF6B00;
  color: #fff;
}

.clock{
  
  font-size: 16px;
  text-align: center;
}
input[type="text"],input[type="password"] {
  width: 100%;
  padding: 10px;
  background-color: #F0F0F0;
  margin-bottom: 10px;
  border: 2px solid #c9c4c4;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); 
}

button {
  width: 200px;
  height: 36px;
  padding: 10px 15px;
  justify-content: center;
  display:flex;
  align-items: center;
  margin-left:auto;
  margin-right: auto;
  background-color: #FF6B00;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-size: 12px;
}

button:hover {
  background-color: #ff7f00;
}
